<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--控制mybatis全局行为-->
   <!-- <settings>
        &lt;!&ndash;        设置mybatis输出日志&ndash;&gt;
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>-->

    <!--    设置别名-->
    <typeAliases>
        <!--        name:实体类所在的包名-->
        <package name="com.ssm.domain"/>
    </typeAliases>
    <!--    sql mapper（sql映射文件）的位置-->
    <mappers>
        <!--        name:包名，这个包中所有的mapper.xml一次都能加载
            指定单独的mapper文件可用<mapper resource="com/spring/dao/StudentDao.xml"/>

            使用package要求：
                1.mapper文件名称和dao接口名必须完全一样，包括大小写
                2.mapper文件和dao接口必须在同一目录
-->
        <package name="com.ssm.dao"/>
    </mappers>
</configuration>