<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--    声明组件扫描器-->
    <context:component-scan base-package="com.springmvc.controller"/>

<!--    声明SpringMVC框架中的视图解析器，帮助开发人员设置视图文件的路径-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--        前缀：视图文件的路径-->
        <property name="prefix" value="/WEB-INF/view/" />
<!--        后缀：视图文件的扩展名-->
        <property name="suffix" value=".jsp"/>
    </bean>
<!--
    第二种处理静态资源的方法
    mvc:resources 加入框架后会创建ResourceHttpRequestHandler对象处理静态资源的访问，不依赖Tomcat服务器
    mapping：访问静态资源的uri地址，使用通配符 **
    location：静态资源在项目中的位置
    images/**表示image目录下的任意文件或子目录下的任意文件
-->
    <mvc:resources mapping="images/**" location="/images/"/>

    <mvc:annotation-driven/>
</beans>